{% extends 'base.html' %}

{% block head %}  

{% endblock %}


{% block contentbody %}
<div id=textcontent>
    <table align="center">
        <tr>
            <td align="left">上机时间:{{userinfo.logintime}}</td>
        </tr>
        <tr>
            <td align="left">上机时长:{{userinfo.onlinetime}}</td>
        </tr>
        <tr>
            <td align="left">费用:{{userinfo.fee}}</td>
        </tr>
        <tr>
            <td align="left"><a id =link_out href="{% url 'logout' %}" >退出</a></td>
        </tr>
    </table>
</div>
{% endblock %}