{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:5px">
        <a id =selectedlink_center href="{% url 'home' %}">首页</a>
    </div>
{% endblock %}

{% block contentbody %}
<div id=textcontent>
    <table align="center">
        <tr>
            <td align="right" width="20%">上机时间：</td>
            <td align="left" width="80%">{{userinfo.logintime}}</td>
        </tr>
        <tr>
            <td align="right" width="20%">上机时长：</td>
            <td align="left" width="80%">{{userinfo.onlinetimestr}}</td>
        </tr>
        <tr>
            <td  align="right" width="20%">费用：</td>
            <td align="left" width="80%">{{userinfo.fee}}元</td>
        </tr>
        <tr>
            <td  align="right" width="20%" style="display: block"><label name="state" id= "state" style="display: none">{{userinfo.state}}</label></td>
            <td align="left" width="80%"><a id =link_out href="{% url 'logout' %}" >退出</a></td>
        </tr>
    </table>
</div>
<script>
     window.onload=function(){
        var state = document.getElementById('state').innerHTML;
        if (state==2){
            document.getElementById("link_out").click();
            alert("你已被管理员强制下线");
        }
        if (state==3){
            document.getElementById("link_out").click();
            alert("休息一下，2小时后登陆");
        }
        var state = document.getElementById('onlinetime').innerHTML;
    }
    setTimeout("timer()",1000*30);
    function timer(){
        document.getElementById("selectedlink_center").click();
        setTimeout("timer()",1000*30);//每1分钟刷新依次网页
    }
</script>
{% endblock %}