
{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %} 
    <style type="text/css">
        #textcontent {
        width: 80%;
        height: auto;
        font-size:20px;
        word-wrap:break-word;
        word-break:break-all;
        overflow: hidden;
        margin:5% auto
    }
    </style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:5px">
        <a id =selectedlink_center href="{% url 'home' %}">首页</a>
        <a id =link_center  href="{% url 'mguser' %}">用户管理</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <div style="margin: 0% 5% 0% 5%">
        <div id=textcontent>
            <h4>在线用户</h4>
            <table align="center">
                <tr>
                    <td width=20% align="left">用户</td>
                    <td width=30% align="left">&nbsp&nbsp上机时间</td>
                    <td width=20% align="left">&nbsp&nbsp上机时长</td>
                    <td width=15% align="left">&nbsp&nbsp费用</td>
                    <td width=10% align="left">&nbsp&nbsp管理</td>
                </tr>
            {% for userinfo in onlineuserinfo_list.all %}
                <tr>
                    <td width=20% align="left">{{ userinfo.user.name }}</td>
                    <td width=30% align="left">&nbsp&nbsp{{ userinfo.logintime }}</td>
                    <td width=20% align="left">&nbsp&nbsp{{ userinfo.onlinetimestr }}</td>
                    <td width=15% align="left">&nbsp&nbsp{{ userinfo.fee }}元</td>
                    <td width=15% align="left">&nbsp&nbsp<a href="{% url 'forceoffline' userinfo.user.id %}">下线</a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div id=textcontent>
            <h4>离线用户</h4>
            <table align="center">
                <tr>
                    <td width=25% align="left">用户</td>
                    <td width=25% align="left">&nbsp&nbsp密码</td>
                    <td width=30% align="left">&nbsp&nbsp上次登出时间</td>
                    <td width=20% align="left">&nbsp&nbsp状态</td>
                </tr>
            {% for userinfo in offlineuserinfo_list.all %}
                <tr>
                    <td width=25% align="left">{{ userinfo.user.name }}</td>
                    <td width=25% align="left">&nbsp&nbsp{{ userinfo.user.password }}</td>
                    <td width=30% align="left"><label name="lastlogout" id= "{{userinfo.lastlogouttime}}"></td>
                    <td width=20% align="left">&nbsp&nbsp<label name="state" id= "state{{userinfo.state}}"></label></td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <script>
            window.onload=function(){
            var states = document.getElementsByName('state');
            for( var i=0; i<states.length; i++){
                var state=states[i];
                if(state.id.indexOf("0")!=-1){
                    state.innerText="离线";
                }
                else if(state.id.indexOf("1")!=-1){
                    state.innerText="在线";
                }
                else if(state.id.indexOf("2")!=-1){
                    state.innerText="强制下线";
                }
                else if(state.id.indexOf("3")!=-1){
                    state.innerText="超时下线";
                }
            }
            var lastlogouts = document.getElementsByName('lastlogout');
            for( var i=0; i<lastlogouts.length; i++){
                var lastlogout=lastlogouts[i];
                if(lastlogout.id.indexOf("1920")!=-1){
                    lastlogout.innerText="未登陆过";
                }
                else{
                    lastlogout.innerText=lastlogout.id;
                }
            }
        }
        setTimeout("timer()",1000*30);
        function timer(){
            document.getElementById("selectedlink_center").click();
            setTimeout("timer()",1000*30);
        }
        </script>
    </div>
{% endblock %}