{% extends 'base.html' %}

{% block head %}  

{% endblock %}

{% block style %}
<style>
    #link{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:gray;          
    }
    #selectedlink{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:black;         
    }
    #textcontent {
        width: 80%;
        height: auto;
        word-wrap:break-word;
        word-break:break-all;
        overflow: hidden;
        margin:5% auto
    }
    #pcontent{
        font-size:28px;
        color:darkslategrey
    }
</style>
{% endblock %}
{% block topmenucenter %}
    <div style="padding:20px">
        <a id =selectedlink_center href="{% url 'pages:home' %}">首页</a>
		<a id =link_center href="{% url 'pages:highsearch' %}">高级筛选</a>
        <a id =link_center  href="{% url 'pages:searchspot' %}">搜索景点</a> 
		<a id =link_center  href="{% url 'pages:retiregroup' %}">养老圈</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <div style="margin: 10% 20%;">
        <form enctype='multipart/form-data' action="{% url 'pages:searchplace' %}" method="post" name='searchplace' >{% csrf_token %}
            <table align="center">
                <tr>
                    <td><input type="text" id="search" name="search_content" placeholder="请输入您要搜索的内容" style="width:600px; height:30px"/></td>
                    <td><input type="submit" name='search' value="搜索" style="width:80px; height:50px"></td>
                    <td><input type="submit" name='highsearch' value="高级筛选" style="width:80px; height:50px"></td>
                </tr>
            </table>
        </form>
        <div id=textcontent>
            {% for place in place_list.all %}
                <h4>{{ place.name }}</h4>
            <img src='{{ MEDIA_URL }}{{ place.image}}' width="800" height="600" alt=''/>
                <p align="left" id=pcontent><lable>关键词:</label> {{ place.keywords}}</p>
                <p align="left" id=pcontent><lable>简介:</label> {{ place.introduce}}</p>
            <p align="left" id=pcontent>电话：{{place.phone}} </p>
            <p align="left" id=pcontent>地址：{{place.address}}</p>
                <p align="left" id=pcontent>
                    <tr>
                    <td>平均费用：{{place.cost}}(元/月)</td>
                    <td>&nbsp&nbsp交通:</td>
                    <td></td>{{ place.traffic}}</td>
                    </tr>
                </p>
                <p align="left" id=pcontent>
                    <tr>
                        <td>物价:</td>
                    	<td>{{place.price}}</td>
                    	<td>&nbsp&nbsp景点门票:</td>
                    	<td>{{place.spotticket}}</td>
                    	<td>&nbsp&nbsp医疗:</td>
                    	<td>{{place.hospital}}</td>
                    </tr>
                </p>
                <p align="left" id=pcontent>
                    <tr>
                        <td >附近景点：</td>
                        <td>
                            {% for spot in place.scenicspot_set.all %}
                            &nbsp&nbsp<a  href="{% url 'pages:spotdetail' spot.id %}">{{ spot.name}}</a>
                            {% endfor %}
                        </td>
                    </tr>
                </p>
            <p align="left" id=pcontent>
                <tr>
                    <td>单人房：</td>
                    <td>&nbsp&nbsp{{place.singleroomcount}}间</td>
                    <td>&nbsp&nbsp{{place.singleroomfee}}元/天</td>
                    <td>&nbsp&nbsp<a href="{% url 'pages:makeorder' place.id 0 %}">预定</a></td>
                </tr>
            </p>
            <p align="left" id=pcontent>
                <tr>
                    <td>双人房：</td>
                    <td>&nbsp&nbsp{{place.doubleroomcount}}间</td>
                    <td>&nbsp&nbsp{{place.doubleroomfee}}元/天</td>
                    <td>&nbsp&nbsp<a href="{% url 'pages:makeorder' place.id 1 %}">预定</a></td>
                </tr>
            </p>
            <p align="left" id=pcontent>
                <tr>
                    <td>家庭房：</td>
                    <td>&nbsp&nbsp{{place.familyroomcount}}间</td>
                    <td>&nbsp&nbsp{{place.familyroomfee}}元/天</td>
                    <td>&nbsp&nbsp<a href="{% url 'pages:makeorder' place.id 2 %}">预定</a></td>
                </tr>
            </p>
            <p align="left" style="font-size:20px;color:grey">
                <td></td><lable id=''>更新时间:</lable> {{place.publishtime}}</td>
                <td>&nbsp&nbsp<a href="{% url 'pages:likeplace' place.id %}"><input type="submit" id =good value='' style="background:url('/static/images/good.png') no-repeat;width:36px; height:36px;"></lable></a>&nbsp&nbsp{{place.likedcount}}</td>
                <td>&nbsp&nbsp<a href="{% url 'pages:toshareplace' place.id %}">分享</a>&nbsp&nbsp{{place.sharedcount}}</td>
            </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}