
{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:5px">
        <a id =link_center href="{% url 'home' %}">首页</a>
        <a id =selectedlink_center  href="{% url 'mguser' %}">用户管理</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <div style="margin: 0% 10% 0% 10%">
        <div  style="width:100%; height:100px">
            <h4 align="left">创建账户</h4>
            <form action="{% url 'adduser' %}" method="post" name="adduser">{% csrf_token %}
                <table>
                    <td width="40%">账号<input type="text"  name="name" style="height:30px"></td>
                    <td width="40%">密码:<input type="text"  name="password" style="height:30px"></td>
                    <td width="20%"><input type="submit" value="创建账户" style="height:30px"></td>
                </table>
            </form>
        </div>
        <br/>
        <br/>
        <div style="width:100%; height:500px">
            <h4 align="left">已有账户</h4>
            <form action="{% url 'mguser' %}" method="post" name='mguser'>{% csrf_token %}
                <table>
                    <tr>
                        <td width=35% style="font-weight: bold">账号</td>
                        <td width=35% style="font-weight: bold">密码</td>
                        <td width=30%></td>
                    </tr>
                    {% for user in user_list.all %}
                        <tr>
                            <td width=35%>{{user.name }}</td>
                            <td width=35%>{{ user.password }}</td>
                            <td width=30%><a href="{% url 'deluser' user.id %}">删除</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
{% endblock %}