{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #textcontent {
        width: 80%;
        height: auto;
        word-wrap:break-word;
        word-break:break-all;
        overflow: hidden;
        margin:5% auto
    }
    #pcontent{
        font-size:28px;
        color:darkslategrey
    }
</style>
{% endblock %}
{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link_center href="{% url 'pages:home' %}">首页</a>
        <a id =link_center href="{% url 'pages:mgspot' %}">景点管理</a> 
        <a id =link_center  href="{% url 'pages:mguser' %}">个人会员管理</a> 
        <a id =link_center  href="{% url 'pages:mgplace' %}">养老机构管理</a>   
    </div>
{% endblock %}

{% block contentbody %}
    <div style="margin: 0% 10% 0% 10%">
        <div style="width:100%; height:300px">
            <h4>个人信息</h4>
            <table style="margin:0% 0% 0% 0%;width:100%">
                <tr align="left">
                    <td width="50%">账户:{{ my.name }}</td>
                    <td width="50%">邮箱:{{ my.email}}</td>
                </tr>
            </table>
            <p align="left">
                地址:{{ my.address }}
                <br/>
                电话:{{ my.phone }}
                <br/>
                <a  href="{% url 'pages:editmyinfo' %}">编辑</a>
            </p>
        </div>
	</div>
{% endblock %}